@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: Pacifico;
    src: url("../../public/font/fr13631857_Blacksword.otf") ;
}
.text-last-center{
    text-align-last: center;
}
.homePage{
    background-image: url('../../public/images/bg1-1.jpg');
}
.box-img1-welcome{
    background-image: url('./../../public/images/v-1.webp');
}
.box-img2-welcome{
    background-image: url('./../../public/images/v-2.webp');
}
.test:hover .box-title{
    transform: translateY(-40%);
    opacity: 0;
    visibility: hidden;
    
}
.test:hover .box-price{
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
}
.test:hover .box-add-to-cart{
    top: 10%;
    opacity: 1;
    visibility: visible;
}
/* footer */
.footer{
    background-image: url('./../../public/images/footer-widgets-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}