@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: Pacifico;
    src: url("../../public/font/fr13631857_Blacksword.otf") ;
} 
*{
    margin-left: 0;
    margin-right: 0;
}
body{
    overflow-x: hidden !important;
}
.text-last-center{
    text-align-last: center;
}
.homePage{
    background-image: url('../../public/images/bg1-1.jpg');
}
.box-img1-welcome{
    background-image: url('./../../public/images/v-1.webp');
}
.box-img2-welcome{
    background-image: url('./../../public/images/v-2.webp');
}
.card-product:hover .box-title{
    transform: translateY(-40%);
    opacity: 0;
    visibility: hidden;
    
}
.card-product:hover .box-price{
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
}
.card-product:hover .box-add-to-cart{
    top: 10%;
    opacity: 1;
    visibility: visible;
}
.shop{
    background-image: url('./../../public/images/banners2.jpg');
}
.box-slider-home-page{
    background-image: url('./../../public/images/bg5.jpg');
}
/* swiper */

  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
/* footer */
.footer{
    background-image: url('./../../public/images/footer-widgets-bg.jpg');
}
/* about */
.bg-main-about{
    background-image: url('./../../public/images/post6.jpg');
    background-position: bottom;
}